Release/
Debug/
Box2D/
*.swp
*.~
*.opensdf
*.sdf
*.VC.opendb
.suo
*.VC.db
*/ipch/
.vscode/
*.~
*.un~
*.ipch
*.db-shm
*.db-wal
profiler_log.txt
.gitignore~
.vs/ProjectMountainLobster/v16/Browse.VC.db
.vs/ProjectMountainLobster/v16/Browse.VC.opendb
.vs/ProjectMountainLobster/v16/.suo
output.txt
